<!DOCTYPE html>
<html>

<head>
    <title>Payment Success</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<h1>Thank you for your payment!</h1>
<p>Your order is being processed. Please wait...</p>

<script>
    $(window).on('load', async function () {
        const customerOrderId = sessionStorage.getItem('customerOrderId');
        const paymentId = sessionStorage.getItem('paymentId');

        if (customerOrderId && paymentId) {
            try {
                await $.ajax({
                    url: `http://localhost:8080/api/payments/complete`,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(paymentId)
                });
                sessionStorage.removeItem('orderDetails');
                sessionStorage.removeItem('paymentId');
            } catch (error) {
                    alert('Payment completion status FAILED. Your payment succeeded, but it failed to register in our system. Support has been contacted, and we will reach out to you via email.');
                }
            }
    });
</script>
</body>

</html>
