<!DOCTYPE html>
<html>

<head>
    <title>Payment Success</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<h1>Thank you for your payment!</h1>
<p>Your order is being processed. Please wait...</p>

<script>
    $(window).on('load', async function () {
        const customerOrderId = sessionStorage.getItem('customerOrderId');
        const paymentId = sessionStorage.getItem('paymentId');

        if (customerOrderId && paymentId) {
            try {
                const finalizeResponse = await $.ajax({
                    url: `http://localhost:8080/api/payments/complete?paymentId=${paymentId}`,
                    type: 'PUT',
                    contentType: 'application/json'
                });

                if (finalizeResponse) {
                    alert('Order created successfully!');
                    sessionStorage.removeItem('orderDetails');
                    sessionStorage.removeItem('paymentId');
                } else {
                    alert('Payment finalization failed. Please contact support.');
                }
            } catch (error) {
                    alert('Order creation failed. Please contact support.');
                }
            }
    });
</script>
</body>

</html>
